---
import { getCollection } from "astro:content";
import Toc from "../../components/Toc.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Header from "../../components/Header.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import AsideLayout from "../../layouts/AsideLayout.astro";
import GoTop from "../../components/GoTop.astro";
import Comments from "../../components/Comments.astro";
import { SITE_TITLE } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import Tags from "../../components/Tags.astro";
import { Icon } from "astro-icon/components";
import { sortByDate } from "../../lib/sortByDate";
import PostPreview from "../../components/PostPreview.astro";


import type { CollectionEntry } from 'astro:content';

export const findPrevAndNext = (arr: CollectionEntry<'blog'>[], curr: CollectionEntry<'blog'>) => {
  const currentIndex = arr.findIndex((obj) => obj.slug === curr.slug);

  if (currentIndex === -1) {
    return null; // 物件未找到
  }

  const prevIndex = currentIndex - 1;
  const nextIndex = currentIndex + 1;

  const prev = prevIndex >= 0 ? arr[prevIndex] : null;
  const next = nextIndex < arr.length ? arr[nextIndex] : null;

  return {
    prev,
    next,
  };
};

// getStaticPaths 生成靜態頁面路徑
export async function getStaticPaths() {
  const posts = sortByDate(await getCollection("blog"));

  const currentPost = posts.map((post) => {
    const getPrevAndNext = findPrevAndNext(posts, post);

    return {
      params: { slug: post.slug },
      props: {
        post: post,
        next: getPrevAndNext?.prev,
        prev: getPrevAndNext?.next,
      },
    };
  });

  return currentPost;
}
// type Props = CollectionEntry<"blog">;

const { post, next, prev } = Astro.props;
const { headings, Content } = await post.render();
const { data } = post;

---
<MainLayout title={post.data.title + " | " + SITE_TITLE} description={
  post.body
  .replace(/<[^>]*>/gm, "")
  .replace(/[\n#]/g, "")
  .replace(/\s/g, "")
  .trim()
  .slice(0, 100)
}>

  <Header />
  <ContentLayout>
    <!-- <a onclick="history.back()" >回上頁</a> -->
    <div class="py-[3.35rem] px-[4vw]">
      <FormattedDate date={post.data.update || post.data.date} type="en" />
      <h1 class="text-3xl leading-loose text-default">{post.data.title}</h1>
      <PostPreview content={post.body} />

      <div class="mt-2">
        {(<Tags tags={post.data?.tags} />)}
      </div>
    </div>
    <div class="border-y border-default py-10 px-[4vw]">
      <div class="post">
        <Content />
      </div>
    </div>

    <div class="border-b border-default">
      <div class={`flex ${!!prev?.slug ? "justify-between" : "justify-end"}`}>
        {
          !!prev?.slug && (
            <a
              href={`/blog/${prev?.slug}`}
              class={`px-4 flex h-12 cursor-pointer items-center justify-center border-r border-default hover:bg-border`}
            >
              <Icon name="teenyicons:left-outline" class="mr-4 h-4 w-4" />
              {prev?.data?.title}
            </a>
          )
        }

        {
          !!next?.slug && (
            <a
              href={`/blog/${next?.slug}`}
              class={`px-4 flex h-12 cursor-pointer items-center justify-center border-l border-default hover:bg-border`}
            >
              {next?.data?.title}
              <Icon name="teenyicons:right-outline" class="ml-4 h-4 w-4" />
            </a>
          )
        }
      </div>
    </div>

    <div class="py-[3.35rem] px-[4vw]">
      <Comments />
    </div>

    <AsideLayout slot="aside">
      <Toc {headings} />
    </AsideLayout>
  </ContentLayout>
</MainLayout>
<GoTop />

<script>
  const post = document.querySelectorAll('.post');

  post.forEach(el => {
    const links = el.querySelectorAll('a');
    links.forEach(link => {
      link.setAttribute('target', '_blank');
    });
  });

  let copyButtonLabel = "Copy Code";
  let codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement("div");
    wrapper.className = "relative";

    let copyButton = document.createElement("button");
    copyButton.className = "copy-code";
    copyButton.innerHTML = copyButtonLabel;

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.appendChild(copyButton);
    // wrap codeblock with relative parent element
    codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(block: HTMLPreElement, button: HTMLButtonElement) {
    let code = block.querySelector("code");
    let text = code?.innerText || "";

    await navigator.clipboard.writeText(text);

    // visual feedback that task is completed
    button.innerText = "Code Copied";

    setTimeout(() => {
      button.innerText = copyButtonLabel;
    }, 700);
  }
</script>