---
import { ironman } from "../config/config.json";
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/sortByDate";
import config from "../config/config.json";
import Categories from "../components/Categories.astro";
import Header from "../components/Header.astro";
import SearchWidget from "../components/SearchWidget.astro";
import { SITE_TITLE } from "../consts";
import AsideLayout from "../layouts/AsideLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import FriendshipLink from "../components/FriendshipLink.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";
import Divider from "../components/Divider.astro";

const pagination = config.settings.pagination;

const posts = sortByDate(await getCollection("blog"))
  .filter((p) => {
    const regex = /ironman/i;
    return !p.data.tags.some((tag: string) => regex.test(tag));
  })
  .slice(0, 5);

type BadgeColor =
  | "primary"
  | "accent"
  | "success"
  | "warning"
  | "error"
  | "info"
  | "neutral";

const project: Array<{
  site: string;
  url: string;
  year: string;
  skill: Array<{
    name: string;
    color: BadgeColor;
  }>;
}> = [
  {
    site: "書櫃日記 (App)",
    url: "//mtwmt.com/bookshelf-diary/",
    year: "2026",
    skill: [
      {
        name: "React Native",
        color: "error",
      },
      {
        name: "Expo",
        color: "accent",
      },
      {
        name: "Cloudflare",
        color: "info",
      },
      {
        name: "Hono",
        color: "success",
      },
    ],
  },
  {
    site: "精典小遊戲",
    url: "//mtwmt.com/game/",
    year: "2025",
    skill: [
      {
        name: "Angular",
        color: "info",
      },
      {
        name: "Tailwindcss",
        color: "primary",
      },
    ],
  },
  {
    site: "報價單產生器",
    url: "//mtwmt.com/price-generator/",
    year: "2022",
    skill: [
      {
        name: "Angular",
        color: "info",
      },
      {
        name: "Bootstrap",
        color: "primary",
      },
    ],
  },
  {
    site: "IT 鐵人賽歷屆主題搜尋",
    url: "//mtwmt.com/ironman/",
    year: "2022",
    skill: [
      {
        name: "Angular",
        color: "error",
      },
      {
        name: "Tailwindcss",
        color: "info",
      },
    ],
  },
];
---

<MainLayout title={SITE_TITLE}>
  <Header />
  <ContentLayout>
    <PageTitle title="PROJECTs" icon="ic:outline-work" />
    <div class="pb-4 px-[4vw]">
      <div class="flex flex-wrap">
        {
          project.map((d, i) => {
            return (
              <div class="w-full md:w-1/2">
                <div class={`mb-8 ${i % 2 === 0 ? "md:mr-4" : "md:ml-4"}`}>
                  <Card
                    variant="project"
                    title={d.site}
                    href={d.url}
                    year={d.year}
                    hasPushpin={true}
                    skills={d.skill.map((s) => ({
                      name: s.name,
                      color: s.color,
                    }))}
                  />
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <Divider className="my-8" />
    <PageTitle title="鐵人賽系列文" icon="ic:outline-emoji-events" />
    <div class="py-10 px-[4vw]">
      <Timeline
        items={ironman.map((item) => ({
          title: String(item.year),
          description: item.topic,
          href: item.topicUrl,
          icon: "grommet-icons:info",
          color: "primary" as const,
        }))}
      />
    </div>
    <Divider className="my-8" />
    <PageTitle title="NEWs" icon="ic:outline-newspaper" />
    <div class="pb-4 px-[4vw]">
      <div class="flex flex-wrap">
        {
          posts.map((post, i) => {
            return (
              <div class="w-full md:w-1/2">
                <div class={`mb-8 ${i % 2 === 0 ? "md:mr-4" : "md:ml-4"}`}>
                  <Card
                    variant="post"
                    title={post.data.title}
                    href={`/blog/${post.slug}/`}
                    date={post.data.update || post.data.date}
                    tags={post.data.tags}
                  />
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <AsideLayout slot="aside">
      <SearchWidget />
      <Categories />
      <FriendshipLink />
    </AsideLayout>
  </ContentLayout>
</MainLayout>
