---
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/sortByDate";
import config from "../config/config.json";
import Categories from "../components/Categories.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Pagination from "../components/Pagination.astro";
import SearchWidget from "../components/SearchWidget.astro";
import Tags from "../components/Tags.astro";
import { SITE_TITLE } from "../consts";
import AsideLayout from "../layouts/AsideLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import FriendshipLink from "../components/FriendshipLink.astro";
import { Icon } from 'astro-icon';

const pagination = config.settings.pagination;


const posts = sortByDate(await getCollection("blog"))
.filter(p => {
    const regex = /ironman/i
    return !p.data.tags.some((tag:string) => regex.test(tag));
  })
.slice(0,5);

const { slug } = Astro.params;


const project = [
  {
    site: 'IT 鐵人賽歷屆主題搜尋',
    url: 'https://mtwmt.com/ironman/',
    year: '2022',
    skill: [
      {
        name:'Angular',
        style: 'bg-red-400/10 text-red-700 dark:text-red-400'
      },
      {
        name:'Tailwindcss',
        style: 'bg-sky-400/10 text-sky-700 dark:text-sky-400'
      }
    ]
  },
  {
    site: '報價單產生器',
    url: 'https://mtwmt.com/price-generator/',
    year: '2022',
    skill: [
      {
        name:'jQuery',
        style: 'bg-blue-400/10 text-blue-700 dark:text-blue-400'
      },
      {
        name:'Bootstrap',
        style: 'bg-indigo-400/10 text-indigo-700 dark:text-indigo-400'
      }
    ]
  },
];

const ironman = [
  {
    year: 2023,
    topic: "從零開始學習 Astro, 打造個人Blog (部落格)",
    topicUrl: "./../tags/ironman2023",
  },
  {
    year: 2021,
    topic: "Angular 常見問題大小事",
    topicUrl: "./../tags/ironman2021",
  },
];

---
<MainLayout title={SITE_TITLE}>
  <Header />
  <ContentLayout>
    <PageTitle title="PROJECTs" />
    <div class="border-default pb-4 px-[4vw]">
      <div class="flex flex-wrap">
        {
          project.map((d,i) => {
            return (
              <div class="w-full md:w-1/2">
                <div class={`relative mb-8 py-4 px-8 rounded-lg shadow-md border-default border-solid border ${i % 2 === 0 ? 'md:mr-4': 'md:ml-4'}`}>
                  <Icon name="la:thumbtack" class="absolute -top-3 -right-3 text-red-500 w-8 h-8" />
                  <h3 class="text-xl leading-loose"><a href={d.url} target="_blank">{d.site}</a></h3>
                  <ul class="pt-4 pb-8">
                    {
                      d.skill.map( s => {
                        return (
                        <li class={`inline-block mr-3 px-3 text-xs leading-5 font-medium rounded-full ${s.style}`}>{ s.name }</li>
                        ) 
                      })
                    }
                    </ul>
                    <div class="flex items-center ml-2">
                      <Icon name="ph:flag-duotone" class="inline-block text-neutral-400 w-4 h-4"/>
                      <p class="ml-1 text-neutral-400 text-xs">{d.year}</p>
                    </div>
                </div>
              </div>
            )
          })
        }
      </div>
    </div>
    <hr>
    <PageTitle title="鐵人賽系列文" />
    <div class="py-10 px-[4vw]">
      {
        ironman.map((item, index) => {
          return (
            <div class="relative flex pb-12">
              {ironman.length - 1 !== index && (
                <div class="absolute inset-0 flex h-full w-10 items-center justify-center">
                  <div class="pointer-events-none h-full w-1 bg-light" />
                </div>
              )}

              <div class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-primary-500 text-white">
                <Icon name="grommet-icons:info" class="h-6 w-6" />
              </div>
              <div class="flex-grow pl-4">
                <h2 class="title-font mb-1 font-medium tracking-wider">
                  {item.year}
                </h2>
                <a href={item.topicUrl} class="leading-relaxed">
                  {item.topic}
                </a>
              </div>
            </div>
          );
        })
      }
    </div>
    <hr>
    <PageTitle title="NEWs" />
    <div class="border-default pb-4 px-[4vw]">
      <div class="flex flex-wrap">
        {
          posts.map((post, i) => {
            return (
              <div class="w-full md:w-1/2">
                <div class={`mb-8 py-4 px-8 rounded-lg shadow-md border-default border-solid border ${i % 2 === 0 ? 'md:mr-4': 'md:ml-4'}`}>
                  <div class=" text-right">{<Tags data={post.data} />}</div>
                  <div class="flex items-center">
                    <FormattedDate
                      date={post.data.update || post.data.date}
                      type="graphics"
                      className="mr-5 text-left text-purple-400 dark:text-purple-400/70"
                    />
                    <div>
                      <a href={`/blog/${post.slug}/`} >
                        <p class="text-xl text-light font-semibold leading-normal">
                          {post.data.title}
                        </p>
                        <p class="mt-1 text-xs text-neutral-400">
                          READ MORE
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <AsideLayout slot="aside">
      <SearchWidget />
      <Categories />
      <FriendshipLink />
    </AsideLayout>
  </ContentLayout>
</MainLayout>