---
import {Icon} from "astro-icon/components";

const { page, path } = Astro.props;
const { url, currentPage, lastPage } = page;
const { prev, next } = url;

const defaultCls =
  "flex h-12 cursor-pointer items-center justify-center border-r border-default hover:bg-border";
const currectCls =
  "cursor-default border-primary-800 bg-primary-800 text-white hover:bg-primary-800 hover:opacity-100";
---

<nav class="flex">
  {
    !!prev && (
      <a href={prev} class={`w-20 ${defaultCls}`}>
        <Icon name="teenyicons:left-outline" class="h-4 w-4" /> PREV
      </a>
    )
  }

  <!-- 1-5 -->
  {
    currentPage < 6 &&
      Array.from({ length: 5 }, (_, i) => i + 1).map((idx: number) => {
        return (
          <a
            href={`${path}/${idx}`}
            class={`w-10 ${defaultCls}
              ${currentPage === idx ? `${currectCls}` : ""}`}
          >
            {idx}
          </a>
        );
      })
  }

  <!-- >5  -->
  {
    currentPage > 5 && (
      <>
        <a
          href={`${path}/1`}
          class={`w-10 ${defaultCls}
              ${currentPage === 1 ? `${currectCls}` : ""}`}
        >
          1
        </a>
        <a href={`${path}/${currentPage - 5}`} class={`w-10 ${defaultCls}`}>
          <Icon name="teenyicons:double-caret-left-solid" class="h-4 w-4 " />
        </a>
      </>
    )
  }

  {
    currentPage > 5 &&
      currentPage < lastPage - 4 &&
      Array.from({ length: lastPage }, (_, index) => index + 1)
        .filter((page) => Math.abs(currentPage - page) <= 2)
        .map((idx) => (
          <a
            href={`/blog/page/${idx}`}
            class={`flex h-12 w-10 cursor-pointer items-center justify-center border-r border-default hover:bg-border 
              ${
                currentPage === idx
                  ? "cursor-default border-primary-800 bg-primary-800 text-white hover:bg-primary-800 hover:opacity-100"
                  : ""
              }`}
          >
            {idx}
          </a>
        ))
  }

  {
    currentPage < lastPage - 4 && (
      <>
        <a href={`${path}/${currentPage + 5}`} class={`w-10 ${defaultCls}`}>
          <Icon name="teenyicons:double-caret-right-solid" class="h-4 w-4 " />
        </a>
        <a
          href={`${path}/${lastPage}`}
          class={`w-10 ${defaultCls} 
              ${currentPage === lastPage ? `${currectCls}` : ""}`}
        >
          {lastPage}
        </a>
      </>
    )
  }
  <!--  -->

  {
    currentPage > lastPage - 5 &&
      Array.from({ length: 5 }, (_, i) => i + (lastPage - 4)).map(
        (idx: number) => {
          return (
            <a
              href={`${path}/${idx}`}
              class={`w-10 ${defaultCls}
              ${currentPage === idx ? `${currectCls}` : ""}`}
            >
              {idx}
            </a>
          );
        }
      )
  }
  {
    !!next && (
      <a href={next} class={`w-20 ${defaultCls}`}>
        NEXT
        <Icon name="teenyicons:right-outline" class="h-4 w-4" />
      </a>
    )
  }
</nav>
